<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>documentscat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/highlight/styles/github-dark-dimmed.min.css') }}">
    <script src="{{ url_for('static', filename='js/highlight/highlight.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <script>hljs.highlightAll();</script>
</head>

<body>
    <h4 style="color: #6d61ea">文章详情</h4>
    <span><b>标题:</b> {{ filename }}</span>
    <span><b>发布时间:</b> {{ filedate }}</span>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <span><b>看累了就听首歌^_^</b></span>
        <audio class="musics" controls="controls" loop="true" src="/static/music/{{ music }}"></audio>
    <br><br>
    <hr>

    {% for i in fileRel %}
        {% for _, v in i.items() %}
           {# safe转义html#}
            <div class="post-content">
                {{ v|safe }}
            </div>
        {% endfor %}
    {% endfor %}

</body>
</html>