<!DOCTYPE html>
<body lang="en">

<head>
    <meta charset="UTF-8">
    <title>事件记录展示</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
</head>

<body>
    <div>
        <a href="{{ url_for('event.event_w') }}">
            <button type="button" class="btn btn-primary you">返回上一页</button>
        </a>
    </div><br>

    <div class="container">
        <form class="parent" method="post" action="{{ url_for('event.event_search') }}">
            <input name="search" type="text" placeholder="输入关键字">
            <input type="submit" value="搜索记录">
        </form>
    </div>

    <div style="margin: 3px;">
        <input type="text" id="data" style="height: 34px;" placeholder="输入要删除的ID"><button class="btn btn-danger" id="delete_table" style="margin: 2px;">删除</button>
    </div>
    <br>

    <div>
        <form method="post" name="chack_deploy">
            <table class="table table-bordered table-hove">
                 <thead>
                    <tr>
                        <th>ID</th>
                        <th>事件日期</th>
                        <th>事件详情</th>
                        <th>执行人</th>
                    </tr>
                </thead>
                <tbody id="tablesData">
                    {% for i in data %}
                    <tr>
                        {% for _,v in i.items() %}
                        <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <div id="barcon" class="barcon" >
        <div id="barcon2" class="barcon2">
            <ul>
                <li><a id="prePage">上一页</a></li>
                <li id="barcon1"></li>
                <li><a id="nextPage">下一页</a></li>
                <li><input type="text" id="num" size="2" oninput="value=value.replace(/[^\d]/g,'')"></li>
                <li><a id="jumpPage" onclick="jumpPage()">跳转</a></li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/event.js') }}"></script>

    <script type="text/javascript">
        $(function(){
            goPage(1,100);
        })
        var pageSize=1;
        var currentPage_=1;
        var totalPage;
        function goPage(pno,psize){
            var itable = document.getElementById("tablesData");
            var num = itable.rows.length;

            pageSize = psize;
            if(num/pageSize > parseInt(num/pageSize)){
                totalPage=parseInt(num/pageSize)+1;
            }else{
                totalPage=parseInt(num/pageSize);
            }
            var currentPage = pno;
            currentPage_=currentPage;
            var startRow = (currentPage - 1) * pageSize+1;
            var endRow = currentPage * pageSize;
            endRow = (endRow > num)? num : endRow;

            $("#tablesData tr").hide();
            for(var i=startRow-1;i<endRow;i++) {
                $("#tablesData tr").eq(i).show();
            }

            var tempStr = currentPage+"/"+totalPage;
            document.getElementById("barcon1").innerHTML = tempStr;

            if(currentPage>1){
                $("#firstPage").on("click",function(){
                    goPage(1,psize);
                }).removeClass("ban");
                $("#prePage").on("click",function(){
                    goPage(currentPage-1,psize);
                }).removeClass("ban");
            }else{
                $("#firstPage").off("click").addClass("ban");
                $("#prePage").off("click").addClass("ban");
            }

            if(currentPage<totalPage){
                $("#nextPage").on("click",function(){
                    goPage(currentPage+1,psize);
                }).removeClass("ban")
                $("#lastPage").on("click",function(){
                    goPage(totalPage,psize);
                }).removeClass("ban")
            }else{
                $("#nextPage").off("click").addClass("ban");
                $("#lastPage").off("click").addClass("ban");
            }
        }

        function jumpPage() {
            var num=parseInt($("#num").val());
            if(num != currentPage_ && !isNaN(num) && num <= totalPage && num > 0) {
                goPage(num,pageSize);
            }
        }
    </script>

</body>
</html>