<!DOCTYPE html>
<body lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
</head>

<body>

    <div>
        <span><img src="{{ url_for('static', filename='images/laba.png') }}" style="width: 35px; height: 35px"></span>
        <span><b>欢迎使用Frag</b></span>
    </div><br>

    <div class="row" style="width: 1000px; height: 120px">
      <div class="col-xs-6 col-md-5 widget widget1" style="height: 100px; width: 200px; background-color: #ffffff">
          <div style="text-align: center">
                <img src="{{ url_for('static', filename='images/suser.png') }}" style="width: 35px; height: 35px">
                <h5><strong style="color: #6d61ea">用户数</strong></h5>
                <span>{{ rel }}</span>
          </div>
      </div>

      <div class="col-xs-6 col-md-5" style="height: 100px; background-color: #ffffff">
          <div style="text-align: center">
              <img src="{{ url_for('static', filename='images/time.png') }}" style="width: 35px; height: 35px">
              <h5><strong style="color: #6d61ea">中国时间</strong></h5>
              <span>{{ date }}</span>
          </div>
      </div>
    </div>
    <br><br>

        <div id="main-deploy" style="width: 960px;height: 300px;"></div>

        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main-deploy'));

            $.get('/deploy_data_handle').done(function(data) {
                myChart.setOption({
                    title: {
                        text: '历史维护展示图'
                    },
                    tooltip: {},
                    legend: {
                        data:['维护次数']
                    },
                    xAxis: {
                        name: '日期',
                        data: data.dates
                    },
                    yAxis: {},
                    series: [{
                        name: '维护次数',
                        type: 'bar',
                        color: '#6d61ea',
                        data: data.deploy_num
                    }]
                });
            });
        </script>

</body>
</html>