<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>serviceone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
</head>
<body>
    <h4 style="color: #6d61ea">添加地址</h4>
    <form action="/serviceone" method="post">
        <div id="div1">
            <table class="table table-bordered table-hove">
                <thead>
                    <tr>
                        <th>服务名</th>
                        <th>服务地址/端口</th>
                        <th>动作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            服务名:&nbsp&nbsp&nbsp<input name="serviceName" id="serviceName" type="text" style="height: 33px">
                        </td>
                        <td>
                            地址:&nbsp&nbsp&nbsp<input name="url" id="url" type="text" style="width: 350px; height: 33px">
                        </td>
                        <td><input type="submit" id="conn" value="添加" class="btn btn-primary"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <hr>
    <h4 style="color: #6d61ea">地址</h4>
    <div>
        <input type="text" name="service" id="service" placeholder="服务名" style="height: 35px">
        <input class="btn btn-danger" type="submit" value="删除" id="del">
    </div>
    <br>
    <div id="div2">
       <table class="table table-bordered table-hove">
           <tbody>

                    {% for urlname, url in urls.items() %}
                        <tr>
                            <td>{{ urlname }}</td>
                            <td>{{ url }}</td>
                            <td>
                                <a href="{{ url }}" target="_blank"><input type="submit" class="btn btn-success" value="连接"></a>
                            </td>
                        </tr>
                    {% endfor %}
           </tbody>
       </table>
    </div>

    <script>
        $(function(){
            $("#del").click(function(){
                //拿到input标签值，一定是表单值
                var service = $("#service").val();
                if (service == ''){
                    window.location = '/serviceone'
                    alert('服务名不允许为空!!!');

                }else{
                        $.post({
                            "url": "/urldel",
                            "data": {
                                "service": service
                            },
                            "success": function(data){
                                if (data["code"] == 200){
                                    //跳转路由
                                    window.location = "/serviceone";
                                    alert("status: "+data["code"] +"\n"+"message: "+data["message"]);
                                }else {
                                    window.location = "/serviceone";
                                    alert("status: "+data["code"]+"\n"+"message: "+data["message"]);
                                }
                            },
                            "fail": function(error){
                                console.log(error);
                            }
                        });
                }

            });
        });
    </script>
</body>
</html>