<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>巡检记录展示</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/tools/bootstrap.min.css') }}>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
</head>
<body>
    <div>
        <a class="#" href="{{ url_for('server_check.server') }}">
            <img src="{{ url_for('static', filename='images/fh.png') }}" style="width: 35px; height: 35px; background-color: #6d61ea">
        </a>
    </div><br>

        <div class="container">
        <form class="parent" method="post" action="{{ url_for('server_check.server_search') }}" enctype="multipart/form-data">
            <input name="search" type="text" placeholder="输入关键字">
            <input type="submit" value="搜索记录">
        </form>
    </div>

    <div style="float: left; display: flex; align-items: center;">
        <input  type="text" id="data" style="height: 36px;" placeholder="输入要删除的ID">
        <button class="btn btn-danger" id="delete_table" style="margin: 2px">删除</button>
    </div>

    <div>
        <form action="{{ url_for('server_check.server_sx') }}" method="post" style="float: left; display: flex; align-items: center;margin-left: 20px">
            <input type="text" id="start_num"  name="start_num" style="height: 36px; width: 80px" placeholder="100">
            <input type="text" id="stop_num" name="stop_num" style="height: 36px; width: 80px; margin: 2px;" placeholder="200">
            <input class="btn btn-primary" type="submit" value="筛选查看" data-toggle="tooltip" data-placement="left" title="第一个输入框是从哪行开始，第二个输入框是基于前面的输入框数字往后的多少行，输入的数字。">
        </form>
    </div>

    <div style="float: left; display: flex; align-items: center;margin-left: 20px">
        <button  style="margin: 3px" class="btn btn-success"><input type="checkbox" class="all-checkbox export-remove" style="text-align: center;">全选</button>
        <button class="btn btn-success" id="downExcel" style="margin-left: 3px">导出EXCEL</button>

        <a href="{{ url_for('server_check./server/alert') }}">
            <button style="margin-left: 20px" class="btn btn-info">告警信息统计</button>
        </a>
    </div>


    <table class="table table-bordered table-hove" style="margin-top: 70px">
        <thead>
            <th>#</th>
            <th>ID</th>
            <th>日期时间</th>
            <th>服务器</th>
            <th>数据备份</th>
            <th>服务器状态</th>
            <th>全天告警次数</th>
            <th>告警信息</th>
            <th>巡检人</th>
        </thead>
        <tbody id="tablesData">
            {% for i in rel %}
                <tr>
                    <td><input type="checkbox" class="checkbox export-remove"/></td>
                    {% for _,v in i.items() %}
                        {% if v == "未备份" %}
                            <td style="background-color: #fa0b03"><span style="color: #eeeeee">{{ v }}</span></td>
                        {% elif v == "不正常" %}
                            <td style="background-color: #fa0b03"><span style="color: #eeeeee">{{ v }}</span></td>
                        {% else %}
                            <td>{{ v }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="barcon" class="barcon" >
        <div id="barcon2" class="barcon2">
            <ul style="float: left; display: flex; align-items: center;">
                <li><a id="prePage" style="border-radius: 3px; text-decoration: none;">上一页</a></li>
                <li id="barcon1"></li>
                <li><a id="nextPage" style="border-radius: 3px; text-decoration: none;">下一页</a></li>
                <li style="margin-left: 3px"><input type="text" id="num" size="2" oninput="value=value.replace(/[^\d]/g,'')"></li>
                <li><a id="jumpPage" style="border-radius: 3px; text-decoration: none;margin-left: 3px;color: #eeeeee" onclick="jumpPage()">跳转</a></li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/server.js') }}"></script>


    <script src="{{ url_for('static', filename='js/export.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/xlsx.core.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        function tableToExcel(tableDOM,filename) {
            let tableSheet = XLSX.utils.table_to_sheet(tableDOM);
            openDownloadDialog(sheet2blob(tableSheet),filename+'.xlsx');
        }

        $("#downExcel").click(() => {
            let sheetTable = $("<table></table>");
            sheetTable.append($("#myTable").find("thead").clone());
            sheetTable.append($("<tbody></tbody>"));
            let tbody = sheetTable.find("tbody");
            let checkboxs = $(".checkbox:checked");
            for (let checkbox of checkboxs) {
                let tr = $(checkbox).parents('tr')[0];
                console.log(tr);
                tbody.append($(tr).clone());
            }
            sheetTable.find(".export-remove").parent().remove();
            tableToExcel(sheetTable[0],"服务器巡检记录");
        })

        $(".all-checkbox").change(()=>{
            $(".checkbox").prop("checked",$(".all-checkbox").prop("checked"));
        })
    </script>

    <script type="text/javascript">
            $(function(){
               goPage(1,100);
            })
           var pageSize=1;
           var currentPage_=1;
           var totalPage;
           function goPage(pno,psize){
               var itable = document.getElementById("tablesData");
               var num = itable.rows.length;

               pageSize = psize;
               if(num/pageSize > parseInt(num/pageSize)){
                   totalPage=parseInt(num/pageSize)+1;
               }else{
                   totalPage=parseInt(num/pageSize);
               }
               var currentPage = pno;
               currentPage_=currentPage;
               var startRow = (currentPage - 1) * pageSize+1;
               var endRow = currentPage * pageSize;
               endRow = (endRow > num)? num : endRow;

               $("#tablesData tr").hide();
               for(var i=startRow-1;i<endRow;i++) {
                   $("#tablesData tr").eq(i).show();
               }

               var tempStr = currentPage+"/"+totalPage;
               document.getElementById("barcon1").innerHTML = tempStr;

               if(currentPage>1){
                   $("#firstPage").on("click",function(){
                       goPage(1,psize);
                   }).removeClass("ban");
                   $("#prePage").on("click",function(){
                       goPage(currentPage-1,psize);
                   }).removeClass("ban");
               }else{
                   $("#firstPage").off("click").addClass("ban");
                   $("#prePage").off("click").addClass("ban");
               }

               if(currentPage<totalPage){
                   $("#nextPage").on("click",function(){
                       goPage(currentPage+1,psize);
                   }).removeClass("ban")
                   $("#lastPage").on("click",function(){
                       goPage(totalPage,psize);
                   }).removeClass("ban")
               }else{
                   $("#nextPage").off("click").addClass("ban");
                   $("#lastPage").off("click").addClass("ban");
               }
           }

           function jumpPage() {
               var num=parseInt($("#num").val());
               if(num != currentPage_ && !isNaN(num) && num <= totalPage && num > 0) {
                   goPage(num,pageSize);
               }
           }
    </script>

</body>
</html>