<!DOCTYPE html>
<body lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器巡检记录</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/tools/bootstrap.min.css') }}>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
</head>


<body>
      <form class="#">
        <div class="#">
          <label>巡检日期/时间</label>
          <input id="datetime" name="datetime" type="text" class="form-control"  placeholder="2022/8/1">

          <label>巡检服务器主机名/IP</label>
          <input id="serverNameIp" name="serverNameIp" type="text" class="form-control"  placeholder="IP或者主机名,全部就all">

          <label>数据库数据今日是否备份</label>
			<select id="dataBakup" name="dataBackup" type="text" class="form-control">
				<option>已备份</option>
				<option>未备份</option>
			</select>

            <label>服务器状态</label>
				<select id="serverStatus" name="serverStatus" type="text" class="form-control">
					<option>正常</option>
					<option>不正常</option>
				</select>
				
            <label>服务器今日告警次数</label>
          <input id="policeNum" name="policeNum" type="number" class="form-control"  placeholder="请输入数字">

            <label>服务器告警信息</label>
          <textarea id="policeInfo" name="policeInfo" placeholder="文本格式: local_127.0.0.1-CPU低于20%,local_127.0.0.1-内存低于20%(不同告警文本要以逗号分隔.)" class="form-control" rows="5"></textarea>

            <label>巡检人</label>
          <input id="checkName" name="checkName" type="text" class="form-control"  placeholder="名字">
          <br><br>
          <button id="tj" class="btn btn-primary">提交记录</button>
          <input class="btn btn-warning" type="reset" value="重置">
          <a href="{{ url_for('server_check.server_zs') }}">
            <button type="button" class="btn btn-info">查看巡检记录</button>
          </a>
        </div>
      </form>

    <script src="{{ url_for('static', filename='js/server.js') }}"></script>

</body>
</html>