<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialog.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dialog.min.js') }}"></script>
</head>
<body>
        <li>
            <span style="color: #6d61ea"><b>密码修改</b></span>
        </li>
        <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">用户</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" id="user" name="user">
        </div><br>
        <form>
        <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">密码</span>
                <input type="password" class="form-control" aria-describedby="basic-addon1" id="passwd" name="passwd" autocomplete="off">
        </div>
        </form><br>
        <form>
        <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">确认密码</span>
                <input type="password" class="form-control" aria-describedby="basic-addon1" id="passwd1" name="passwd1" autocomplete="off">
        </div>
        </form><br>
        <input  id="pwdupdate" type="button" class="btn btn-primary" value="确认修改">

    <hr>
{#    <button class="wk-btn" style="margin: 3px"><input type="checkbox" id="tbAll" style="margin: 2px;text-align: center;">全选</button>#}
    <li>
        <span style="color: #6d61ea"><b>用户列表</b></span>
    </li>
    <table class="table table-bordered table-hove">
        <thead>
            <th>#</th>
            <th>用户名</th>
            <th>创建时间</th>
            <th>#</th>
        </thead>
        <tbody>
            {% for i in userName %}
                <tr>
               <div class="items"><td><input class="cb" type="checkbox"/></td>
                {% for _,v in i.items() %}
                    <td>{{ v }}</td>
                    {% endfor %}
               </div>
                <td>
                    <button class="btn btn-danger" onclick="deleteCheckbox()">删除用户</button>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function deleteCheckbox() {
            var items=document.getElementsByClassName('cb');
            var len=items.length;
            for (var i=len-1; i>=0;i--) {
                var is_checkd = items[i].checked;
                if (is_checkd) {
                    var divItems = items[i].parentNode.parentNode;
                    var divlr = divItems.innerText
                    $.post(
                        {
                            "url": "/user/delete",
                            "data": {
                                "name": divlr
                            }
                        },
                        
                    )
                    divItems.parentNode.removeChild(divItems);
                }
            }
        }
    </script>

    <script>
        $(function(){
            $("#pwdupdate").click(function(){
                //拿到input标签值，一定是表单值
                var user = $("#user").val();
                var passwd = $("#passwd").val();
                var passwd1 = $("#passwd1").val();
                if (user == ''|| passwd == ''||passwd1 == ''){
                    window.location = '/user/userlist'
                    alert('字段不允许为空!!!');

                };
                if (passwd != passwd1){
                    window.location = '/user/userlist'
                    alert('密码输入不一致!')
                }else{
                        $.post({
                            "url": "/user/update",
                            "data": {
                                "user": user,
                                "passwd": passwd
                            },
                            "success": function(data){
                                if (data["code"] == 200){
                            
                                    window.location = "/user/userlist";
                                    alert("status: "+data["code"] +"\n"+"message: "+data["message"]);
                                }else {
                                    window.location = "/user/userlist";
                                    alert("status: "+data["code"]+"\n"+"message: "+data["message"]);
                                }
                            },
                            "fail": function(error){
                                console.log(error);
                            }
                        });
                }

            });
        });
    </script>

</body>
</html>